.game {
  display: inline-flex;
}

.board {
  margin: 20px;
}

.bold {
  font-weight: bold;
}
.bold button {
  font-weight: bold;
}

li{
  white-space: nowrap;
}

.history div {
  text-align: center;
}